{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Product List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Description</th>
                <th>Image</th>
                {% if is_granted('ROLE_GUEST') == true %}
                {% else %}
                    <th>Price</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.product }}</td>
                <td>{{ blog.description }}</td>
                <td>{{ blog.image }}</td>
                {% if is_granted('ROLE_GUEST') == true %}
                {% else %}
                <td>{{ blog.price }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USERS') or is_granted('ROLE_BALIE') %}
                        <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USERS') or is_granted('ROLE_BALIE') %}
        <a href="{{ path('blog_new') }}">Create new</a>
    {% endif %}
{% endblock %}
